doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title || "ShareLoop"}

        link(
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        )

        //- CSS goes AFTER Bootstrap so you can override it
        link(rel="stylesheet", href="/css/style.css")

    body.bg-light
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href="/") ShareLoop

                button.navbar-toggler(
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNav"
                    aria-controls="mainNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                )
                    span.navbar-toggler-icon

                #mainNav.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/all-listings-formatted") Listings
                        li.nav-item
                            a.nav-link(href="/all-users-formatted") Users
                        li.nav-item
                            a.nav-link(href="/all-categories") Categories

        main.container.py-4
            block content

        script(
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        )